<%- include('../partials/header.ejs') %>

<div class="container" id="information">
<h3>
    <%= employee.name %>
</h3>

<section id="show-page">
    <div><img src="<%= employee.image %>" id="profile"></div>
    <div>Employee Name: <%= employee.name %></div>
    <div>Employee Title: <%= employee.title %></div>
    <div>Date Hired: <%= employee.dateHired %></div>
    <div>Nursing License Up To Date: <%= employee.license ? 'Yes' : 'No' %></div>
</section>
<br>
<a class="btn btn-secondary" href="/employees/<%= employee.id %>/edit" role="button">Edit</a>

</div>
<div class="container">
  <br><br><h2>Annual Evaluation</h2>
  <form id="add-review-form" method="POST"
    action="/evaluations/employees/<%= employee._id %>/evaluations">
    <div class="mb-3">
    <label for="evaluation" class="form-label">Annual Evaluation:</label>
    <textarea name="content" class="form-control" id="inputContent" style="height: 100px;" aria-describedby="contentHelp"></textarea>
    <!-- <input type="content" class="form-control" id="inputContent" aria-describedby="contentHelp"> -->
    </div>
    <div class="mb-3">
    <label for="inputRating" class="form-label">Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    </div>
    <!-- <input type="submit" value="Add Annual Evaluation"> -->
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>

  <!-- <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
<br>
<div class="container">
<table id="evaluation-table" class="table table-light table-striped table-hover">
    <thead>
        <th>User</th>
        <th>Date</th>
        <th>Annual Evaluation</th>
        <th>Rating</th>
    </thead>
    <tbody>
      <% employee.evaluation.forEach(function(e) { %>
        <tr>
            <td class="evaluation-user"><img alt="avatar" src="<%= e.userAvatar %>" src="<%= e.userName %>" referrerpolicy="no-referrer"><%= e.userName %></td>
            <td><%= e.createdAt.toLocaleDateString() %></td>
            <td><%= e.content %></td>
            <td><%= e.rating %></td>
        </tr>
      <% }); %>
    </tbody>
</table>
</div>


<%- include('../partials/footer.ejs') %>